.intro {
  color: white;
  background: linear-gradient(141deg, #ff80ab 0%, #ce93d8 51%, #b2dfdb 75%);

  .container:first-of-type {
    height: 100vh;
    padding: 50px 10px 0;
  }
}

.letter {
  font-size: 20px;
}